@page
@model FabrikafaSample.Pages.SampleServices.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-4">Services Samples</h1>
                <p>
                    <a class="nav-link text-dark" asp-area="" asp-page="/SampleServices/CheckServerTime">DateTime Service Sample: Check Server Time</a>
                </p>
            </div>
        </div>
    </div>
</div>