@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="~/images/fabrikafa-icon.png" alt="FabrikafaSample" height="150px" />
                <h1 class="display-4">Welcome fabrikafa <br />Sample Application</h1>
                <p>
                    Fabrikafa Library contains helper classes and methods for Fabrikafa projects. 
                </p>
            </div>
        </div>
    </div>
</div>
